<section id="thermometer" class="container">
  <div class="progress row">
    <div class="progress-bar {{thermometer.class}}" role="progressbar" [attr.aria-valuenow]="thermometer.value" aria-valuemin="-20" aria-valuemax ="20"
         style="min-width: 2em;" [style.width]="((20+thermometer.value)/40)*100 + '%'">
      {{thermometer.label}}
    </div>
  </div>
</section>

<section id="clothes" class="container">
  <ul id="clothes-list" class="row">
    <li *ngFor="let cloth of clothes; let i = index;" class="cloth col-4"
        [ngClass]="{'selected' : this.clothSet[cloth.id]}"
    (click)="toggle(cloth)">
      <img src="{{cloth.image}}" class="mx-auto d-block"/>
    </li>
  </ul>
</section>

<section id="source">

</section>
