#climate {
  #climate-conditions {
    .climate-temperature {
      // when we edit temperature, the input element should more or less overlap with the span
      max-width: 50px;
      border: none;
    }
  }
}

.cloth {
  margin: 10px 0;

  &.selected {
    background: #ff7986;
  }

  img {
    border-radius: 25%;
    width: 80px;
    height: 80px;
  }
}
