<section id="thermometer" class="container">
  <div class="progress row">
    <div class="progress-bar {{thermometer.class}}" role="progressbar" [attr.aria-valuenow]="thermometer.value" aria-valuemin="-20" aria-valuemax ="20"
         style="min-width: 2em;" [style.width]="((20+thermometer.value)/40)*100 + '%'">
      {{thermometer.label}}
    </div>
  </div>
</section>

<section id="climate" class="container">
  <div class="row">
    <!-- use custom climate data  -->
    <div id="climate-edit" class="col-1">
      <a href="#" (click)="editing = !editing"><span>✏</span></a>
    </div>

    <!-- current climate conditions -->
    <div id="climate-conditions" class="col-4">
      <!-- temperature in degrees -->
      <span *ngIf="!editing" class="climate-temperature">{{climate.temperature}}° C</span>
      <input *ngIf="editing" class="form-control climate-temperature" type="text" [(ngModel)]="climate.temperature"
      (keypress)="onTemperatureManuallyChanged($event)"/>

      <!--  weather conditions icon  -->
      <span *ngIf="!editing && climate.conditions === 'sunny'">☀</span>
      <span *ngIf="!editing && climate.conditions === 'cloudy'">☁</span>
      <span *ngIf="!editing && climate.conditions === 'rain'">🌧</span>
      <span *ngIf="!editing && climate.conditions === 'snow'">❄</span>
    </div>

    <!-- location search -->
    <div id="climate-location" class="col-7">
      <input name="location" class="form-control" type="text" [(ngModel)]="location.name"/>
    </div>
  </div>
</section>

<section id="clothes" class="container">
  <ul id="clothes-list" class="row">
    <li *ngFor="let cloth of clothes; let i = index;" class="cloth col-4"
        [ngClass]="{'selected' : this.clothSet[cloth.id]}"
    (click)="toggle(cloth)">
      <img src="{{cloth.image}}" class="mx-auto d-block"/>
    </li>
  </ul>
</section>

<section id="source">

</section>

<footer class="container">
  <div *ngIf="debugMode" class="row" id="debug-info">
    <small class="col-6">temperature: {{climate.temperature}}</small>
    <small class="col-6">thermometer: {{thermometer.value}}</small>
  </div>
</footer>
